<!DOCTYPE html>
<html>
<head>
	<title>Update Post</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
				<form method="post">
					<fieldset>
						<legend>Update Post</legend>
						<table>
							<tr>
								<td>Thread ID:</td>
								<td><input type="number" name="id" value="<%= obj[0].threadid %>" readonly></td>
							</tr>
							<tr>
								<td>Place or Thread Name:</td>
								<td><input type="text" name="name" value="<%= obj[0].name %>"></td>
							</tr>
							<tr>
								<td>Genre:</td>
								<td><input type="text" name="genre" value="<%= obj[0].genre %>"></td>
							</tr>
							<tr>
								<td>Place of country:</td>
								<td><input type="text" name="country" value="<%= obj[0].country %>"></td>
							</tr>
							<tr>
								<td>Probable Cost ($):</td>
								<td><input type="text" name="cost" value="<%= obj[0].cost %>"></td>
							</tr>
							<tr>
								<td>Description:</td>
								<td>
									<textarea size="50" class="form-control" rows="5" name="details" maxlength="1000" value="<%= obj[0].details %>"></textarea>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" name="submit" value="Update"></td>
							</tr>
						</table>
					</fieldset>
				</form> 

				<br><br>
				<a href="/home">Home </a>|
				<a href="/logout"> Logout</a>
            </div>
        </div>
	</div>
	
</body>
</html>